---
---

.card {
  display: inline-flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: row;
  width: 100%;
  max-width: calc(100% - 20px - 20px);
  margin: 20px;
  background: var(--background);
  border-radius: var(--rounded);
  overflow: hidden;
  box-shadow: var(--shadow);
  vertical-align: top;
}

.card[data-style="small"] {
  width: 250px;
}

// .card-image img {
//   aspect-ratio: 3 / 2;
//   object-fit: cover;
//   width: 300px;
//   margin-top: 20px;
//   margin-bottom: 20px;
//   margin-left: 20px;
//   margin-right: 20px;
//   // box-shadow: var(--shadow);
// }


.card-image {
  width: 280px;
  flex-shrink: 0;
  display: block;
}

.card-image img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3/2;   // auto
}

.card-text {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
  padding: 20px;
}

.card-text > * {
  margin: 0 !important;
}

.card-title {
  font-size: large;
  font-family: var(--heading);
  font-weight: var(--bold);
  
}

.card-subtitle {
  margin-top: -6px !important;
  font-style: italic;
}

// For mobile devices
@media (max-width: 700px) {
  .card {
    flex-direction: column;
    max-width: calc(100% - 20px - 20px);
  }

  .card-image {
    width: 100%;
  }

  .card-image img {
    aspect-ratio: 3 / 2; 
    height: auto;
  }

  .card-text {
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .card-subtitle {
    margin-top: -10px !important;
  }
}